@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-soft: #f9f9f9;
}

.content {
    background-color: var(--primary-soft);
    overflow: scroll;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) inset;
}

.header {
    position: sticky;
    top: 0.2rem;
    z-index: 2000;
}

.sidebar {}

.show-sidebar-btn {
    cursor: pointer;
}

.user-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.feather-size {
    width: 40px!important;
    height: 40px!important;
}

.card {
    border: none;
}

.status-card {
    transition: 0.5s;
}

.status-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.status-card:active {
    transform: scale(1.03);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 780px) {
    .sidebar {
        position: fixed;
        width: 300px;
        z-index: 2001;
        display: block !important;
        background: white;
        margin-left: -100%;
    }
}